body {
    background-color: rgb(140, 226, 129);
}
header {
    background-color: rgb(255, 255, 255);
    
    color: rgb(241, 10, 10);
}

nav { 
    
}
#logo { width: 50%;
}
nav li {
    display: inline;
}
h1 {
    display: inline-block;
    color: blue;
    text-align: center;
}

.itens {
    background-color: rgb(39, 171, 215);
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: left;
}

footer {
    text-align: center;
    background: #c5c1c1;  url("formadores.jpg");
    padding: 40px 0;
}

.copyright {
    color: #080808;
    font-size: 13px;
    margin: 20px 0 0;
}